@charset "UTF-8";

body {
    margin: 0;
}

.header_logo {
    text-align: center;
}

.header_navilist {
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.header_navilist li {
    margin: 16px 28px;
    list-style: none;
}

.header_mainvisual {
    margin: 40px;
}
.header_mainvisual img {
    width: 100%;
    border: 10px solid #ddd;
    box-sizing: border-box;
}

main {
    margin: 0px 40px;
}

.main_content h2 {
    font-family: serif;
    font-weight: normal;
    text-align: center;
}

.main_content_body {
    display: flex;
    justify-content: space-between;
}

.main_goodpoints section {
    width: 31%;
}

.main_goodpoints section img {
    width: 1--%;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0;
}

.news {
    width: 65.5%;
}

.news_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.news_list {
    list-style: none;
    padding: 0;
    border-top: 1px dotted#000;
}
.news_list li {
    border-bottom: 1px dotted #000;
    padding: 12px 0;
}

.news_date {
    font-weight: bold;
    margin-right: 30px;
}

.banner {
    width: 31%;
}

.banner img {
    width: 100%;
}

